<h1><%= article.title %></h1>
<div><%= format_time article.created_at %>
  <%= "(#{I18n.t(:last_updated_at)} #{ format_time article.updated_at })" if article.updated_at %>
</div>

<section class="content">
  <%== article.processed_content %>
</section>

<% if (forum = article.config.disqus_forum) %>
<section class="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="//disqus.com/forums/<%= forum %>/embed.js"></script>
  <noscript><a href="//<%= forum %>.disqus.com/?url=ref">
    <%= I18n.t(:see_disqus_discussions) %>
  </a></noscript>
  <a href="//disqus.com" class="dsq-brlink">
    <%= I18n.t(:powered_by) %>
  <span class="logo-disqus">Disqus</span></a>
</section>
<% end %>
